@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Gabarito:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Syne:wght@400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: "";
    --secondary-color: '';
    --accent-color: '';
    --primary-font: 'Roboto', Mono;
    --secondary-font: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    text-decoration: none;
}
.logo{
    pointer-events: all;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
  scroll-padding-top: 15vh;
  scroll-snap-align: start;
}
#header{
    width: 100%;
    height: 100vh;
    position: relative;
}

#web{
    color: #fff;
    left: 0;
    padding: 1rem 0 2rem 3rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width: 100%;
    z-index: 3;
    transition: all .5s ease;
}
#mobile{
    display: none;
}
.web-fixed{
    position: fixed !important;
    background-color: #fff;
    padding: 0.4rem 0.4rem 1rem 4rem !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
}
.web-fixed a{
    color: #000 !important;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 40px;
    height: 40px;
}

.mobile-menu-icon{
    display: none;
}

.web-menu ul{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    height: 4.45rem;
    padding: 0 3rem;
    pointer-events: auto;
    gap: 2rem;
}

.web-menu a{
    font: 500 0.87rem Roboto Mono;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: #fff;
}

.header-overlay{
    background: #13242f;
    height: 100vh;
    position: relative;
    width: 100vw;
}
.header-title{
    /* -webkit-box-align: center;
    -ms-flex-align: center; */
    align-items: center;
    bottom: 3rem;
    color: #fff;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    font: 1.05rem Roboto Mono;
    left: 3rem;
    letter-spacing: .1rem;
    position: absolute;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg) translateY(100%);
    transform: rotate(-90deg) translateY(100%);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    z-index: 1;
}
.video-wrapper{
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}
.video-wrapper video{
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.4;
}
.view-more-cursor-button{
    top: 50%;
    left: 50%;
    position: absolute;
    background: hsla(0,0%,100%,.6);
    color: #000;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    text-transform: uppercase;
    font: 700 1.2rem Roboto Mono;
    text-align: center;
    padding: 5rem 1rem;
    transform: translate(-50%,-50%);

}
.cursor-view-work{
    mix-blend-mode: difference;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 6;
    transform: translate(-50%,-50%);
}
.link-dynamic-cursor{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    --webkit-backdrop-filter: blur( 3.5px );
    z-index: 99;
}
.cursor-circle{
    border: 2px solid hsla(0, 0%, 100%, .2);
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About Section */

.about{
    width: 100vw;
    height: 570px;
    margin: 11.5rem 18rem 0 18rem;
}

.about-with-video{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.about-with-video video{
    position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: calc(100% - 400px);
}

.about-with-video h1{
    width: 100%;
    height: calc(100% - 400px);
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    color: #000;
    background: #fff;
    mix-blend-mode: screen;
    overflow: hidden;
    font: 900 6.2rem var(--secondary-font);
    text-transform: uppercase;
    user-select: none;
    mix-blend-mode: screen;
    line-height: 5.6rem;
}

.about-description{
    position: relative;
    top: 32%;
}
.about-description .about-text{
    font: 400 1.2rem var(--primary-font);
    margin: 0;
    padding: 0;
    white-space: pre-line;
    line-height: 1.9rem;
}

.about-link{
    text-decoration: none;
    color: royalblue;
    text-transform: uppercase;
    font: 600 1.2rem var(--secondary-font);
    word-spacing: 10px;
    margin-top: 2rem;
}

/*  Details Content Section 1 */

.details{
    width: 100%;
    height: 50vh;
    color: #f2f2f2;
    position: relative;
    margin-bottom: 15rem;
}
.details-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.details-wrapper marquee{
    position: absolute;
    font: 900 13rem var(--secondary-font);
    z-index: -1;
    top: 20%;
    left: 0;
}
.details-wrapper marquee:nth-child(2){
    top: 60%;
}
.detail-image-right video{
    right: -40vw;
    position: relative;
    background: transparent url("../images/content-1.webp") 50% 50% / cover no-repeat ;
    width: 70%;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.right-image-1:hover{
    cursor: pointer;
}

/* Details Section 2 */
.details-wrapper-left{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.details-wrapper-left marquee{
    position: absolute;
    font: 900 13rem var(--secondary-font);
    z-index: -1;
    top: 20%;
    left: 0;
}
.details-wrapper-left marquee:nth-child(2){
    top: 60%;
}
.detail-image-left video{
    left: -10vw;
    position: relative;
    background: transparent url("../images/content-1.webp") 50% 50% / cover no-repeat ;
    width: 70%;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.left-image-1:hover{
    cursor: pointer;
}
/* All Work Section */

.all-work{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15rem;
}
.all-work-link{
    text-decoration: none;
    border: 2px solid #4082ff;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    color: #4082ff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.all-work-link:hover{
    background: #4082ff;
    color: #fff;
}
.all-work-link span{
    text-transform: uppercase;
    font: 500 1.2rem Roboto Mono;
}

/* Clients Section */
.clients{
    width: 100vw;
    height: 80vh;
    background: url('../images/clients/homepage-footer-scaled.jpg');
    background-attachment: fixed;
    padding: 10rem 10rem;
}

.client-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.client-wrapper h2{
    text-transform: uppercase;
    color: #fff;
    font: 600 3rem Work Sans;
}

.client-logo-wrapper img {
    width: 9rem;
    height: 11.5rem;
    flex-basis: 20%;
}
.client-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Footer */
footer{
    width: 100vw;
    height: 80vh;
}
.content-wrapper {
    margin: auto;
    padding: 5rem 12rem;
}
.content-wrapper h2{
    font: 900 4rem/3 Work Sans;
    text-transform: uppercase;
    margin-left: 2rem;
}

.footer-columns{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
}
.order-1{
    flex-basis: 60%;
}
.order-2{
    flex-basis: 40%;
}
.order-3{
    flex-basis: 60%;
}
.order-4{
    flex-basis: 20%;
}
.order-5{
    flex-basis: 20%;
}
.footer-columns span{
    padding: 4rem 2rem;
}
.text-center{
    text-align: center;
}
.footer-columns span a{
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.9rem;
    color: #000;
    text-transform: uppercase;
}
.bold-text{
    font-weight: 700;
}
.normal-text{
    font-weight: 400;
}
.border-top{
    border-top: 1px solid #000;
}
.border-bottom{
    border-bottom: 1px solid #000;
}
.border-left{
    border-left: 1px solid #000;
}
.border-right{
    border-right: 1px solid #000;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
.logo-description{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-basis: 50%;
}
.logo-description img{
    width: 100px;
    height: 100px;
}
.logo-description p{
    font: 400 0.9rem var(--secondary-font);
    line-height: 1.3rem;
    margin-left: 3rem;
}
.newsletter-form{
    position: relative;
}
.newsletter-label {
    text-transform: uppercase;
    font: 200 0.8rem var(--primary-font);
    word-spacing: 0.5rem;
}
#email {
    border: none;
    border-bottom: 1px solid #000;
    width: -webkit-fill-available;
    margin-top: 2rem;
    padding: 0 20px 10px 0px;
}
#email::placeholder{
    font: 200 0.8rem var(--primary-font);
    margin-bottom: 10px;
    text-transform: uppercase;
}
#email:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
#submit {
    height: 32px;
    padding-left: 36px;
    padding-right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #000;
    position: absolute;
    background-color: transparent;
    font-size: 1.2rem;
    top: 50%;
    right: 0;
}
.detail-image-right .video-caption h4 {
    font-family: Roboto Mono;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 5rem;
}
.detail-image-left .video-caption h4 {
    font-family: Roboto Mono;
    color: #000;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 1rem;
}

/* About Us Page */
#about-header{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
}
.banner-image{
    width: 100%;
    height: 100%;
    flex-basis: 55%;
    background: transparent url("../images/about-1.webp") 50% 50% / cover no-repeat;
}
.quote-text{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
blockquote{
    font: 900 3.9rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 1;
}
figcaption{
    font: 400 0.9rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 2;
    margin-top: 20px;
}
.approach{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 16rem auto;
    max-width: 136.6rem;
    justify-content: space-around;
}
.approach-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 68.3rem);
    flex-direction: column;
    padding: 0 7rem;
}
.approach-text h2{
    font: 900 5rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 1;
}
.approach-text p{
    font-family: 'Roboto';
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 3rem;
}

/* Capabilities Section */

.capabilities{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    margin: 16rem auto;
    max-width: 136.6rem;
    justify-content: space-between;
}
.capabilities-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    flex-basis: 50%;
    margin: 5rem 10rem 5rem 0rem;
}
.capabilities-text h2{
    font: 900 4rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 1;
}
.capabilities-image img{
    width: 100%;
    padding: 0 10rem;
    height: calc(100% - 68.3rem);
    object-fit: cover;
}
.capabilities-text .title{
    font-family: Roboto Mono;
    font-weight: 700;
    letter-spacing: .05rem;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 5;
}
.capabilities-text .description{
    font: 500 0.8rem Roboto Mono;
    letter-spacing: .05rem;
    opacity: .7;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid  #000;
    border-top: 1px solid  #000;
}
.dots{
    font-size: 1rem;
    letter-spacing: 1rem;
}
.title-text-wrapper{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.about-cover-last{
    width: 100%;
    height: 90vh;
}
.about-cover-last img{
    width: 100%;
    height: 100%;
}

/* contact header */

#contact-header{
    width: 100%;
    height: 60vh;
}
.contact-header-overlay{
    background: #13242f;
    height: 100%;
    position: relative;
    width: 100vw;
}

.contact{
    width: 100vw;
    height: 570px;
    margin: 11.5rem 18rem 0 18rem;
}

.contact-without-video{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.contact-without-video h1{
    width: 100%;
    height: calc(100% - 400px);
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    color: #000;
    background: #fff;
    mix-blend-mode: screen;
    overflow: hidden;
    font: 900 4.2rem var(--secondary-font);
    text-transform: uppercase;
    user-select: none;
    mix-blend-mode: screen;
    line-height: 3.6rem;
}

.contact-description{
    position: relative;
    top: 32%;
}
.contact-description .contact-text{
    font: 400 1.2rem var(--primary-font);
    margin: 0;
    padding: 0;
    white-space: pre-line;
    line-height: 1.9rem;
}

.contact-link{
    margin-top: 2rem;
}
.contact-link h6{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font: 500 1.4rem var(--primary-font);
    line-height: 2;
}
.contact-link a{
    text-decoration: none;
    color: #000;
    font: 400 1rem var(--secondary-font);
    line-height: 1;
}

.contact-cover-last {
    width: 100vw;
    height: 70vh;
}
.contact-cover-last img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Work Page */
.work-header{
    margin-top: 30vh;
}
.work-head-wrapper{
    padding: 0 20rem;
}
.work-main-heading{
    font: 900 5.4rem Work Sans;
    text-transform: uppercase;
    line-height: 1;
}

.tabs-head{
    margin-top: 2.2rem;
}
.tabs-head button {
    background: none;
    border: none;
    outline: none;
    font: 500 14px Roboto Mono;
    text-transform: uppercase;
    margin-left: 22px;
}
.tabs-head button.active{
    color: #4082ff;
}

.work{
    margin: 7.8rem 9.8rem 15rem 9.8rem;
}
.work-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
article{
    flex-basis: 50%;
    padding: 2rem;
}

.work-head-company-link{
    font: 500 14px Roboto Mono;
    text-transform: uppercase;
    color: #4082ff;
}

@media only screen and (max-width: 1400px) and (min-width: 660px) {
    .about{
        margin: 6.5rem 8rem 0 0rem;
        padding: 0rem 2rem;
    }
    .detail-image-right video {
        right: -30vw;
    }
    .footer-columns span a{
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 660px) and (min-width: 400px) {
    /* Header */

    /* mobile menu */
    #mobile{
        position: fixed;
        visibility: hidden;
        display: block;
        height: 100vh;
        width: 100vw;
        background: #000;
        transition: width ease 0.4s;
    }
    .mobile-wrapper{
        color: #fff;
        padding: 1.2rem;
    }
    .logo-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-section img{
        width: 40px;
        height: 40px;
    }
    .mobile-menu ul{
        list-style: none;
        padding: 1rem;
        margin-top: 3rem;
        margin-left: 2rem;
    }
    .mobile-menu li a{
        color: #fff;
        text-transform: uppercase;
        font: 900 3rem var(--secondary-font);
    }
    .contact-menu .footer-columns span{
        padding: 3rem 2rem;
    }
    .contact-menu .footer-columns a{
        color: #fff;
    }
    .contact-menu .footer-columns .order-1{
        order: 1;
        flex-basis: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-left: none !important;
        border-right: none !important;
    }
    .contact-menu .footer-columns .order-3{
        order: 2;
        flex-basis: 100%;
        border-bottom: 1px solid #fff;
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }
    .contact-menu .footer-columns .order-2{
        order: 3;
        flex-basis: 50%;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        border-left: none !important;
        border-top: none !important;
    }
    .contact-menu .footer-columns .order-4{
        order: 4;
        flex-basis: 25%;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        border-left: none !important;
        border-top: none !important;
    }
    .contact-menu .footer-columns .order-5{
        order: 5;
        flex-basis: 25%;
        border-bottom: 1px solid #fff;
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }
    #web{
        pointer-events: all;
        padding: 2rem 1rem 2rem 2rem;
    }

    /* web */
    .logo img{
        width: 40px;
        height: 40px;
    }

    .mobile-menu-icon{
        display: block;
        font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    z-index: 9;
    }

    .web-menu ul{
       display: none;
    }
    .header-title{
        font-size: 0.5rem;
    }
    .cursor-circle{
        display: none;
    }
    .web-fixed{
        color: #000 !important;
        padding: 2rem !important;
    }

    /* About Section */

.about{
    width: 100vw;
    height: 570px;
    margin: 1rem 0;
    padding: 0 2rem;
}

.about-with-video{
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.about-with-video video{
    position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: calc(100% - 200px);
}

.about-with-video h1{
    width: 100%;
    height: calc(100% - 200px);
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    color: #000;
    background: #fff;
    mix-blend-mode: screen;
    overflow: hidden;
    font: 900 4rem var(--secondary-font);
    text-transform: uppercase;
    user-select: none;
    mix-blend-mode: screen;
    line-height: 3.9rem;
}

.about-description{
    position: relative;
    top: 35%;
}
.about-description .about-text{
    font: 400 0.9rem var(--primary-font);
    margin: 0;
    padding: 0;
    white-space: normal;
    line-height: 1.9rem;
}

.about-link{
    text-decoration: none;
    color: royalblue;
    text-transform: uppercase;
    font: 600 1.2rem var(--secondary-font);
    word-spacing: 10px;
    margin-top: 2rem;
}


    /*  Details Content Section 1 */

.details{
    width: 100%;
    height: 50vh;
    color: #f2f2f2;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.details-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.details-wrapper marquee{
    position: absolute;
    font: 900 5rem var(--secondary-font);
    z-index: -1;
    top: 40%;
    left: 0;
}
.details-wrapper marquee:nth-child(2){
    top: 50%;
}
.detail-image-right video{
    position: unset;
    background: none;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.right-image-1:hover{
    cursor: pointer;
}
    /* Detail Section 2 */
    .details-wrapper-left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .details-wrapper-left marquee{
        position: absolute;
        font: 900 4rem var(--secondary-font);
        z-index: -1;
        top: 50%;
        left: 0;
    }
    .details-wrapper-left marquee:nth-child(2){
        top: 40%;
    }
    .detail-image-left video{
        background: none;
        position: unset;
        width: 100%;
    height: 100%;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .left-image-1:hover{
        cursor: pointer;
    }
    /* All Work Section */
.all-work{
    margin: 2rem;
}
    /* Clients section */
    .clients{
        width: 100vw;
        height: 100vh;
        background: url('../images/clients/homepage-footer-scaled.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1rem 1rem;
    }

    .client-wrapper h2{
        text-transform: uppercase;
        color: #fff;
        font: 600 2rem Work Sans;
        margin-top: 10px;
    }

    .client-logo-wrapper img {
        width: 6rem;
    height: 7rem;
    flex-basis: 50%;
    }
    .client-logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    /* Footer */
footer{
    width: 100vw;
    height: 80vh;
}
.content-wrapper {
    margin: 1rem;
    padding: 1rem;
}
.content-wrapper h2{
    font: 900 3rem/3 Work Sans;
    text-transform: uppercase;
    margin-left: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.footer-columns{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.order-1{
    order: 1;
    flex-basis: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: none !important;
    border-right: none !important;
}
.order-3{
    order: 2;
    flex-basis: 100%;
    border-bottom: 1px solid #000;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.order-2{
    order: 3;
    flex-basis: 50%;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: none !important;
    border-top: none !important;
}
.order-4{
    order: 4;
    flex-basis: 25%;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: none !important;
    border-top: none !important;
}
.order-5{
    order: 5;
    flex-basis: 25%;
    border-bottom: 1px solid #000;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.text-center{
    text-align: center;
}
.footer-columns span a{
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
}
.bold-text{
    font-weight: 700;
}
.normal-text{
    font-weight: 400;
}
.border-top{
    border-top: 1px solid #000;
}
.border-bottom{
    border-bottom: 1px solid #000;
}
.border-left{
    border-left: 1px solid #000;
}
.border-right{
    border-right: 1px solid #000;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    flex-wrap: wrap;
}
.logo-description{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-basis: 100%;
}
.logo-description img{
    width: 60px;
    height: 60px;
}
.logo-description p{
    font: 400 0.8rem var(--secondary-font);
    line-height: 1.3rem;
    margin-left: 1rem;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

/* About Us Page */
#about-header{
    flex-wrap: wrap;
}
.banner-image{
    height: 50%;
    flex-basis: 100%;
}
.quote-text{
    flex-basis: 100%;
}
blockquote{
    font: 900 1.9rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 1;
}
figcaption{
    font: 400 0.9rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 2;
    margin-top: 20px;
}
.approach{
    margin: 7rem auto;
    flex-wrap: wrap;
}
.approach-text{
    width: 100%;
    flex-direction: column;
    padding: 0 3rem;
}
.approach-text h2{
    font-size: 3rem;
}
.approach-text p{
    font-size: 1rem;
}
.approach-image img{
    width: 100%;
}

/* Capabilities Section */

.capabilities{
    height: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 2rem 0;
}
.capabilities-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    flex-basis: 100%;
}
.capabilities-text h2{
    font: 900 2rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 1;
}
.capabilities-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}
.capabilities-text .title{
    font-family: Roboto Mono;
    font-weight: 700;
    letter-spacing: .05rem;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 2;
}
.capabilities-text .description{
    font: 500 0.8rem Roboto Mono;
    letter-spacing: .05rem;
    opacity: .7;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid  #000;
    border-top: 1px solid  #000;
}
.dots{
    font-size: 1rem;
    letter-spacing: 1rem;
}
.title-text-wrapper{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.about-cover-last{
    width: 100%;
    height: 100vh;
}
.about-cover-last img{
    width: 100%;
    height: 100%;
}

/* Contact Section */

.contact{
    width: 100vw;
    height: 570px;
    margin: 1rem 0;
    padding: 0 2rem;
}

.contact-without-video{
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.contact-without-video h1{
    width: 100%;
    height: calc(100% - 200px);
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    color: #000;
    overflow: hidden;
    font: 900 2.2rem var(--secondary-font);
    text-transform: uppercase;
    line-height: 2.2rem;
}

.contact-description{
    position: relative;
    top: 18%;
}
.contact-description .contact-text{
    font: 400 0.9rem var(--primary-font);
    margin: 0;
    padding: 0;
    white-space: normal;
    line-height: 2.2rem;
}
.work-head-wrapper{
    padding: 0 1rem;
}
.work-main-heading{
    font: 900 3.4rem Work Sans;
    text-transform: uppercase;
    line-height: 1;
}
.work{
    margin: 1rem;
}
article{
    flex-basis: 100%;
    padding: 2rem 0;
}
}
